<!DOCTYPE html>
<html>
<head>
	<title>19计科到梦空间打卡体温查询</title>
	<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" type="text/css" href="../static/css/login.css">
    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon" />
</head>
<body>
<body background="../static/images/5.jpg">
<div class="content">
	<div class="contain">
   		<p style="font-size:30px;color:white">19计科到梦空间打卡体温查询</p>
	</div>
  <form action = "" method = "post">
	<div class="longin-boder">
		<div class="image"><img src="../static/images/user.jpg"></div>
		<input class="input" type="text" name="stu_name" placeholder="输入姓名"/>
	</div> 
	<!--End用户名输入框-->
	<div class="longin-boder">
		<div class="image"><img src="../static/images/id.jpg"></div>
		<input class="input" type="text" name="stu_id" placeholder="输入学号"/>
	</div>
	<!--End密码输入框-->
    <input class="button"  type="submit" value="查询" />
    </form>
   		</br></br></br>
   		<p style="font-size:20px;color:white" >说明：仅限19计科同学查询，更新至8月30日。</p>
	</div>
</div>
</body>
