<!DOCTYPE html>
<html>
<head>
	<title>19计科到梦空间打卡体温查询</title>
	<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" type="text/css" href="../static/css/login.css">
    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon" />
</head>
<body>
<body background="../static/images/5.jpg">
<div class="content">
	<div class="contain">
    <p style="font-size:30px;color:white">输入信息有误，或您不是19级计科学生。</p>
	</div>
    </div>
</body>