<!DOCTYPE html>
<html lang="en">
<head>
	<title>19计科到梦空间打卡体温查询</title>
	<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" type="text/css" href="../static/css/login.css">
    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon" />
</head>
<body>
<body background="../static/images/5.jpg">
<body text="white">
<table border="1" align="center">
    <tr>
        <th width="20%">班级</th>
        <th width="20%">姓名</th>
        <th width="20%">学号</th>
        <th width="20%">日期</th>
        <th width="20%">体温</th>
    </tr>
    <tr>
        <td align="center">计科1904班</td>
        <td align="center">王盛</td>
        <td align="center">19851188</td>
        <td align="center">8.18</td>
        <td align="center">36.4</td>
    </tr>
    <tr>
        <td>计科1904班</td>
        <td>王盛</td>
        <td>19851188</td>
        <td>8.18</td>
        <td>36.4</td>
    </tr>
</table>
</body>
</html>